@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.score-board{
    border: 4px solid #f6de48;
    width: 200px;
    text-align: center;
    margin: 40px auto;
    font-size: 40px;
    color: #f6de48;
    border-radius: 5px;
    padding: 15px 22px;
    font-family: 'DotGothic16', sans-serif;
    position: relative;
}

body{
    background-color: #9d9ea0;
}

header > h1 {
    color: #9d9ea0;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;   
}

header{
    padding: 20px;
    background-color: #f6de48;
}

.badge{
    background: rgb(13, 3, 102);
    font-size: 15px;
    padding: 4px 10px;
    font-family: 'DotGothic16', sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -30px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -50px;
}

.result{
    text-align: center;
    font-size: 40px;
    color: #f6de48;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
}

.choices{
    text-align: center;
    margin: 30px 0;
    
}


.choice{
    display: inline-block;
    border: 4px solid #f6de48;
    padding: 30px;
    margin: 5px 10px;
    border-radius: 50%;
    transition: all .2s ease;
}

.footer{
    position: sticky;
    margin: -30px 10px auto;
    bottom: 15px;    
    font-size: 20px;
    border: 5px solid #f6de48;
    width: 330px;
    font-family: 'DotGothic16', sans-serif;
    padding: 15px 22px;
    font-weight: bold;
}

.choice:hover{
    cursor: pointer;
}

#action-message{
    text-align: center;
    font-size: 50px;
    color: #f6de48;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
}

.red-glow{
    border: 4px solid rgb(112, 5, 5);
    box-shadow: 0 0 10px rgb(112, 5, 5);
}

.green-glow{
    border: 4px solid rgb(17, 56, 17);
    box-shadow: 0 0 10px rgb(17, 56, 17);
}

.gray-glow{
    border: 4px solid rgba(133, 127, 127, 0.979);
    box-shadow: 0 0 10px rgba(133, 127, 127, 0.979);
}


